.action {
    display: inline-flex;
    align-items: center;
    color: var(--text-color);   
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action::before {
    content: "";
    background-color: var(--primary-color);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}