.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 10px solid var(--shadow-color);
    padding: 10px 20px;
}