:root {
    --primary-color: #D925BB;
    --secondary-color: #020873;
    --tertiary-color: #021859;
    --main-title-color: #D925BB;
    --subtitle-color: #fff;
    --title-color: #fff;
    --text-color: #fff;
    --shadow-color: #000;
}